[class*="zocial-"]:before {
  color: blue;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #5191cc;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

/** {
   outline: 1px solid red;
} */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin-top: 1em;
}

.navbar {
margin:0.1em 0 0.1em 0;
}

hr {
        margin-top: 0.7em;
        border-top: 0.4em solid #bcbbbb;
 }
 .middle-img {
    width:1200px;
    height:400px;
}

h1 {
    font-weight: lighter;
    margin-bottom: 5px;
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0.5em;
}

h4 {
    font-size: 25px;
}

.col-md-10 ,h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 200;
    font-size: 35px;
}
a {
  color: #4142c4;
  font-weight: 300;
}

a:hover {
  color:#5191cc;
  text-decoration: underline;
}

.row {
    display:flex;
}
.box {
    width:100%;
}

.items {
  margin-bottom: 1em;
}
.images {
  border-bottom: 0.1em solid #bcbbbb;
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    h3 {
        min-height: 2.3em;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        display: block;
        margin: 0 auto;
    }
}


footer {
    height: 30px;
    margin-top: 1em;
}
