[class*="zocial-"]:before {
  color: gray;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #2a5d8a;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}

* {
   outline: 1px solid red;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color:#747704;
    margin:1em;
    bottom: 1px solid red;
}

header {
     margin-top: 30px;
}

hr {
        height: 2px;
        background-color: #bcbbbb;
 }
 .middle-img {
    width:1200px;
    height:400px;
}

h1 {
    font-size: 60px;
}

h4 {
    font-size: 25px;
}

.col-md-10 ,h2 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 200;
    font-size: 35px;
}
.navbar {
margin: 0;
}
.row {
    display:flex;
}
.box {
    width:100%;
}
@media screen and (min-width: 550px) {
    .col-md-2 {
        width: 33.33%;
    }
    .col-md-10 {
        width: 58.33%%;
    }
}
@media screen and (max-width: 549px) {
    .col-md-2 {
        width: 33.33%;
    }
    .col-md-10 {
        width: 58.33%%;
    }
 h1  {
    font-size: 15px;
            }
h4 {
    font-size: 10px;
}
}
@media screen and (max-width:250px) {
    .col-md-2 {
        width: 50%;
    }
    .col-md-10 {
        width: 50%;
    }
    h1{
    font-size: 10px;
    font-weight: bold;
            }
h4 {
    font-size: 5px;
    font-weight: bold;
}

.text-center {
    {display:block;
    margin-right:auto;
    margin-left:auto;
}

.footer {
    background:gray;
    margin:1em;
    padding:10px;
}